.coin{

  &-table{
    width: 100%;
    background: rgb(51, 47, 47);
    padding: 10px;
    border-radius: 3px;
    border-spacing: 0;

    thead{
      th{
        border-bottom: 1px solid #444;
        padding: 10px;
        color: #6c9ffd;
      }
    }
    tbody{

    }
    th,td{
      padding: 10px;
      text-align: left;
    }
    .up td{
      animation: up 1s ease-in-out 1;
    }
    .down td{
      animation: down 1s ease-in-out 1;
    }
  }

  &-name{
    span{
      display: block;
      font-size: 80%;
      opacity: .8;
    }
  }
}




@media (max-width: 768px) {
  .coin{

    &-table{
      td, th{
        display: none;
      }
      .tablet,
      .mobile{
        display: table-cell;
      }
    }
  }
}


@media (max-width: 500px) {
  .coin{

    &-table{
      .tablet{
        display: none;
      }
    }
  }
}


@keyframes up {
  0% {background: transparent;}
  30% {background: rgba(0, 128, 0, 0.2);}
  100%{background: transparent;}
}
@keyframes down {
  0% {background: transparent;}
  30% {background: rgba(255, 0, 0, 0.2);}
  100%{background: transparent;}
}