.coin{

  &-table{
    background: rgb(51, 47, 47);
    border-radius: 3px;
    border-spacing: 0;
    flex: 1 0 100%;
    overflow: scroll;

    &-head,
    &-row{
      display: flex;
      justify-content: space-evenly;
      &>*{
        &:first-child{
          flex: 0 0 50px;
        }
        &:nth-child(2){
          flex: 1 0 150px;
          text-align: left;
        }
        &:nth-child(3){
          text-align: right;
          padding-right: 30px;
        }
        flex: 1 0 0;
        padding: 10px;
        text-align: center;
      }
    }
    &-head{
      position: sticky;
      top: 0;
      background: #222;
      z-index: 2;
      div{
        border-bottom: 1px solid #444;
        color: #6c9ffd;
      }
    }
    &-body{

    }
    th,td{
      padding: 10px;
      text-align: left;
    }
    .up>*{
      animation: up 1s ease-in-out 1;
    }
    .down>*{
      animation: down 1s ease-in-out 1;
    }
  }

  &-row{

  }

  &-name{
    span{
      display: block;
      font-size: 80%;
      opacity: .8;
    }
  }
}




@media (max-width: 768px) {
  .coin{

    &-table{
      &-head,
      &-row{
        &>*{
          display: none;
        }
      }
      .tablet,
      .mobile{
        display: block;
        flex: 1 0 0;
      }
    }
  }
}


@media (max-width: 500px) {
  .coin{

    &-table{
      .tablet{
        display: none;
      }
    }
  }
}


@keyframes up {
  0% {background: transparent;}
  30% {background: rgba(0, 128, 0, 0.2);}
  100%{background: transparent;}
}
@keyframes down {
  0% {background: transparent;}
  30% {background: rgba(255, 0, 0, 0.2);}
  100%{background: transparent;}
}